<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">
    <title>Document</title>
</head>
<body>


    <div class="container">
            <!-- edit form column -->
    <div class="col-lg-12 text-lg-center">
    </div>
        <div class="col-lg-8 push-lg-4 personal-info">
            <form action="/admin/teams/edit/" method="POST">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">New Title</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" name="title"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">New Description</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" name="description"/>
                    </div>
                </div>
                <input readonly name="id" id="id" value="<%= id %>" required type="hidden"><br>
            </form>
        </div>
    </div>

    <form action="/admin/teams/delete" method="POST">
    <input readonly name="id" id="id" value="<%= id %>" required type="hidden"><br>
    <button type="submit" class="btn btn-primary">DELETE</button>
</body>
</html>