<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/styles/table.css" rel="stylesheet">
</head>
<body>
    <div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2 style="text-align: center;"><b>Your projects</b></h2></div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                <% projects.filter(project => project.CreatorId === loggedUserId).map(project => { %>
                    <tr>
                        <td><%= project.Id %></td>
                        <td><%= project.Title %></td>
                        <td><%= project.Description %></td>
                        <td>
                            <a href="/user/project/edit/<%= project.Id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <a href="/"><button class="w-100 btn btn-lg btn-primary" type="submit">Back</button></a><br><br>
    <a href="/user/project/create"><button class="w-100 btn btn-lg btn-primary" type="submit">Create</button></a>
</div>
</body>
</html>